# Copyright 2018 Owkin, inc.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

image:
  repository: substrafoundation/hlf-k8s
  tag: latest
  pullPolicy: IfNotPresent
  pullSecrets: []
  pullSecretsInline: []

dnsPolicy: ClusterFirst

nginx-ingress:
  enabled: false
  controller:
    extraArgs:
      enable-ssl-passthrough: ""

nodeSelector: {}

tolerations: []

affinity: {}

systemChannel:
  name: systemchannel
  organizations:
    # Here is an exemple of structure:
    #   - { orgName: MyPeer1, configUrl: peer-1-org-config-operator.org-1/config/configOrg.json }
    #   - { orgName: MyPeer2, configUrl: peer-2-org-config-operator.org-2/config/configOrg.json }

appChannel: mychannel

organization:
  id: MyOrganizationMSP
  name: MyOrganization

ca:
  enabled: true
  scheme: http
  host: ca-hostname
  port: 7054
  image:
    tag: 1.4.2
  caName: rca
  adminUsername: caAdmin
  adminPassword: caPassword

  config:
    hlfToolsVersion: 1.4.2
    csr:
      ca:
        pathlength: 1
      names:
        c: FR
        st: Loire-Atlantique
        l: Nantes
        o: Substra
        ou: null
    affiliations:
      substra: [paris, nantes]

  persistence:
    enabled: false

  orderer:
    scheme: http
    host: orderer-ca-hostname
    port: 7054

peer:
  peer:
    gossip:
      bootstrap: "127.0.0.1:7051"
    tls:
      server:
        enabled: "true"
      client:
        enabled: "true"

  enabled: true
  host: peer-hostname
  port: 7051
  image:
    tag: 1.4.2
  persistence:
    enabled: false

  secrets:
    ## These secrets should contain the Orderer crypto materials and credentials
    peer:
      ## Certificate, saved under key 'cert.pem'
      cert: hlf-msp-cert-user
      ## Key, saved under 'key.pem'
      key: hlf-msp-key-user
      ## CA Cert, saved under 'cacert.pem'
      caCert: hlf-cacert
      ## Intermediate CA Cert (optional), saved under 'intermediatecacert.pem'
      # intCaCert: hlf--peer1-caintcert
      ## TLS secret, saved under keys 'tls.crt' and 'tls.key' (to conform with K8S nomenclature)
      tls: hlf-tls-admin
      ## TLS root CA certificate saved under key 'cert.pem'
      tlsRootCert: hlf-cacert
      ## TLS client root CA certificates saved under any names (as there may be multiple)
      tlsClient: hlf-tls-user
      ## TLS client root CA certificates saved under any names (as there may be multiple)
      tlsClientRootCert: hlf-cacert
    ## This should contain the Certificate of the Peer Organisation admin
    ## This is necessary to successfully run the peer
    adminCert: hlf-msp-cert-admin
    ## This should contain the Private Key of the Peer Organisation admin
    ## This is necessary to successfully join a channel
    adminKey: hlf-msp-key-admin
    ## This should include the Orderer TLS 'cacert.pem'
    ordTlsRootCert: ord-tls-rootcert

orderer:
  enabled: false
  host: orderer-hostname
  port: 7050
  image:
    tag: 1.4.2
  persistence:
    enabled: false
  ord:
    type: solo
    mspID: MyOrdererMSP
    tls:
      server:
        enabled: "true"
      client:
        enabled: "true"
  secrets:
    ## These secrets should contain the Orderer crypto materials and credentials
    ord:
      ## Certificate, saved under key 'cert.pem'
      cert: hlf-msp-cert-user
      ## Key, saved under 'key.pem'
      key: hlf-msp-key-user
      ## CA Cert, saved under 'cacert.pem'
      caCert: hlf-cacert
      ## TLS secret, saved under keys 'tls.crt' and 'tls.key' (to conform with K8S nomenclature)
      tls: hlf-tls-admin
      ## TLS root CA certificate saved under key 'cert.pem'
      tlsRootCert: hlf-cacert
      ## TLS client root CA certificates saved under any names (as there may be multiple)
      tlsClient: hlf-tls-user
      ## TLS client root CA certificates saved under any names (as there may be multiple)
      tlsClientRootCert: hlf-cacert
    ## This should contain "genesis" block derived from a configtx.yaml
    ## configtxgen -profile OrdererGenesis -outputBlock genesis.block
    genesis: hlf-genesis
    ## This should contain the Certificate of the Orderer Organisation admin
    ## This is necessary to successfully run the orderer
    adminCert: hlf-msp-cert-admin
    ## This is necessary to successfully join a channel
    adminKey: hlf-msp-key-admin

fetchSecrets: []
  # -
  #   from: from-secret
  #   to: to-secret
  #   filename: secret-data-filename
  #   namespace: default

channels: []
  # -
  #   name: mychannel
  #   create: true
  #   join: true
  #   extraOrgs:
  #     - { name: MyPeer2, secret: peer-2-org-config-anchor }

chaincodes: []
  # -
  #   name: mycc
  #   version: "1.0"
  ##  The chaincode source code. It can be either:
  ##  - The absolute path to the source code on your local machine. (Note for minikube users:
  ##    this path must be mounted in minikube, see https://stackoverflow.com/a/53251666/1370722)
  ##  - The URL of a tar gzipped archive of the chaincode source code, accessible from the
  ##    internet. /!\ The archive name cannot contain the `/` character.
  #   src: /home/johndoe/code/susbtra-chaincode
  #   src: https://github.com/SubstraFoundation/substra-chaincode/archive/0.0.2.tar.gz
  #   instantiate: false
  #   policy: OR('Org1MSP.member')"

users:
  admin:
      username: admin
      password: adminpwd
  user:
      username: user
      password: pwd

# Secrets names
secrets:
  # Certificate, saved under key 'cert.pem'
  cert: hlf-msp-cert-user
  # Key, saved under 'key.pem'
  key: hlf-msp-key-user
  # CA Cert, saved under 'cacert.pem'
  caCert: hlf-cacert
  # TLS secret, saved under keys 'tls.crt' and 'tls.key' (to conform with K8S nomenclature)
  tls: hlf-tls-admin
  # TLS root CA certificate saved under key 'cert.pem'
  tlsRootCert: hlf-cacert
  # TLS client root CA certificates saved under any names (as there may be multiple)
  tlsClient: hlf-tls-user
  # TLS client root CA certificates saved under any names (as there may be multiple)
  tlsClientRootCert: hlf-cacert
  # This should contain "genesis" block derived from a configtx.yaml
  # configtxgen -profile OrdererGenesis -outputBlock genesis.block
  genesis: hlf-genesis
  # This should contain the Certificate of the Peer Organisation admin
  # This is necessary to successfully run the peer
  adminCert: hlf-msp-cert-admin
  # This should contain the Private Key of the Peer Organisation admin
  # This is necessary to successfully join a channel
  adminKey: hlf-msp-key-admin
  # This should include the Orderer TLS 'cacert.pem'
  ordTlsRootCert: ord-tls-rootcert
  # This will include the organization config json file (peer only)
  orgConfig: org-config

privateCa:
  enabled: false
  configMap:
    name: private-ca
#    data: nil
    fileName: private-ca.crt


enrollments:
  creds: []
  # Orderer
  # - { name: admin, secret: adminpwd, options: "--id.attrs admin=true:ecert"}
  # - { name: user, secret: pwd, options: "--id.type orderer"}
  # Peer
  # - { name: admin, secret: adminpwd, options: "--id.attrs hf.Registrar.Roles=client,hf.Registrar.Attributes=*,hf.Revoker=true,hf.GenCRL=true,admin=true:ecert,abac.init=true:ecert"}
  # - { name: user, secret: pwd, options: "--id.type peer"}
  csrHost: service-hostname
