{{- if .Values.orderer.enabled }}
apiVersion: batch/v1
kind: Job
metadata:
  name: {{ template "substra.fullname" . }}-generate-genesis
  labels:
    app.kubernetes.io/managed-by: {{ .Release.Service }}
    app.kubernetes.io/instance: {{ .Release.Name }}
    helm.sh/chart: {{ .Chart.Name }}-{{ .Chart.Version }}
    app.kubernetes.io/name: {{ template "substra.name" . }}-generate-genesis
    app.kubernetes.io/part-of: {{ template "substra.name" . }}
spec:
  template:
    spec:
      dnsPolicy: {{ .Values.dnsPolicy }}
      {{- if or .Values.image.pullSecretsInline .Values.image.pullSecrets }}
      imagePullSecrets:
      {{- range $index, $value := .Values.image.pullSecretsInline }}
        - name: {{ template "substra.fullname" $ }}-pull-secret-{{ $index }}
      {{- end }}
      {{- range .Values.image.pullSecrets }}
        - name: {{ . }}
      {{- end }}
      {{- end }}
      restartPolicy: OnFailure
      serviceAccountName: {{ template "substra.fullname" . }}
      containers:
      - name: fabric-tools
        image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
        imagePullPolicy: "{{ .Values.image.pullPolicy }}"
        command: ['sh', '-c']
        args:
          - |
            generate-genesis.sh {{ .Values.systemChannel }} {{ .Values.secrets.genesis }}
            kubectl delete pods -l app=orderer,release={{ .Release.Name }}
        env:
        - name: CORE_PEER_MSPCONFIGPATH
          value: /var/hyperledger/admin_msp
        - name: GODEBUG
          value: "netdns=go+1"
        volumeMounts:
        - mountPath: /etc/hyperledger/fabric
          name: fabric-config
          readOnly: true
        - mountPath: /var/hyperledger/msp/signcerts
          name: id-cert
        - mountPath: /var/hyperledger/msp/keystore
          name: id-key
        - mountPath: /var/hyperledger/msp/cacerts
          name: cacert
        - mountPath: /var/hyperledger/msp/tlscacerts
          name: cacert
        - mountPath: /var/hyperledger/msp/admincerts
          name: admin-cert
        - mountPath: /var/hyperledger/tls/server/pair
          name: tls
        - mountPath: /var/hyperledger/tls/server/cert
          name: tls-rootcert
        - mountPath: /var/hyperledger/tls/client/pair
          name: tls-client
        - mountPath: /var/hyperledger/tls/client/cert
          name: tls-clientrootcert
        - mountPath: /var/hyperledger/tls/ord/cert
          name: ord-tls-rootcert
        - mountPath: /var/hyperledger/admin_msp/signcerts
          name: admin-cert
        - mountPath: /var/hyperledger/admin_msp/keystore
          name: admin-key
        - mountPath: /var/hyperledger/admin_msp/cacerts
          name: cacert
        - mountPath: /var/hyperledger/admin_msp/tlscacerts
          name: cacert
        - mountPath: /var/hyperledger/admin_msp/admincerts
          name: admin-cert
      volumes:
      - name: fabric-config
        configMap:
          name: {{ template "substra.fullname" . }}-fabric
      - name: id-cert
        secret:
          secretName: {{ .Values.secrets.cert }}
      - name: id-key
        secret:
          secretName: {{ .Values.secrets.key }}
      - name: cacert
        secret:
          secretName: {{ .Values.secrets.caCert }}
      - name: tls
        secret:
          secretName: {{ .Values.secrets.tls }}
      - name: tls-rootcert
        secret:
          secretName: {{ .Values.secrets.tlsRootCert }}
      - name: tls-client
        secret:
          secretName: {{ .Values.secrets.tlsClient }}
      - name: tls-clientrootcert
        secret:
          secretName: {{ .Values.secrets.tlsClientRootCerts }}
      - name: admin-cert
        secret:
          secretName: {{ .Values.secrets.adminCert }}
      - name: admin-key
        secret:
          secretName: {{ .Values.secrets.adminKey }}
      - name: ord-tls-rootcert
        secret:
          secretName: {{ .Values.secrets.ordTlsRootCert }}
    {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
    {{- end }}
    {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
    {{- end }}
    {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
    {{- end }}
{{- end }}
